*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

@font-face {
  font-family: "Mithella-Regular";
  src: url("/fonts/Mithella-Regular.otf");
}

/* Tipografía titulo */

@font-face {
  font-family: "Friendly-Schoolmates";
  src: url("/fonts/Friendly-Schoolmates.otf");
}

body {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: "Friendly-Schoolmates";
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
a {
  font-family: "Mithella-Regular";
}

.center-img {
  width: 50% !important;
  margin: auto !important;
}

audio {
  width: 100% !important;
  max-width: 100% !important;
}

.container {
  min-height: 85vh !important;
}

h1, h5 {
  color: #254690;
}

h3 {
  color: #212529;
}